.panel {
  top: 0px;
  left: 0px;
  width: 2025px;
  height: 2517px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.panelheader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2025px;
  height: 64px;
  /* UI Properties */
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
}
.panelheader > h2 {
  position: absolute;
  top: 24px;
  left: 295px;
  width: 1041px;
  height: 40px;
  /* UI Properties */

  text-align: left;
  font: normal normal bold 14px/17px Lato;
  letter-spacing: 0px;
  color: #00000099;
  opacity: 1;
}

.accordionclose {
  /* Layout Properties */
  position: absolute;
  top: 330px;
  left: 267px;
  width: 1395px;
  height: 760px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.accordionclose > h1 {
  position: absolute;
  top: 25px;
  left: 100px;
  width: 76px;
  height: 36px;
  /* UI Properties */

  text-align: left;
  font: normal normal normal 32px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}

.accordion {
  width: 100%;
  max-width: 360px;
  margin: auto;
  background: #fff;
  border-radius: 4px;
}
.accordion .menu {
  position: relative;
  top: 200px;
  width: 871px;
  height: 46px;
  left: -425px;
  /* UI Properties */
  letter-spacing: 0px;
  color: #0070a9;
  opacity: 1;
  padding: 15px 15px 15px 45px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.4s ease;
}
.accordion img {
  position: absolute;
  top: 17px;
  left: 10px;
}

.accordion li i {
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  color: #595959;
  transition: all 0.4s ease;
}

.accordion li.active i.fa-chevron-down {
  transform: rotate(180deg);
}

.accordion li.active .menu {
  color: #b63b4d;
}

.accordion li.active i {
  color: #b63b4d;
}

.submenu {
  height: 0;
  overflow: hidden;
  background: #444359;
  font-size: 14px;
  transition: height 0.4s ease;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.accordion li:last-child .submenu {
  border-radius: 0 0 4px 4px;
}

.accordion li:last-child .submenu li:last-child {
  border-bottom: 0;
}

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  transition: all 0.25s ease-in-out;
}

.submenu a:hover {
  background: #b63b4d;
  color: #fff;
}
