<ul id="accordion" class="accordion">
  <li *ngFor="let menu of menus; let i = index" [class.active]="menu.active">
    <div class="menu" (click)="toggle(i)">
      {{ menu.name }}
    </div>
    <ul
      class="submenu"
      #submenu
      [style.height.px]="menu.active ? submenu.scrollHeight : 0"
    >
      <li *ngFor="let submenu of menu.submenu">
        <a [href]="submenu.url">{{ submenu.question }}</a>
        <a [href]="submenu.url">{{ submenu.answer }}</a>
      </li>
    </ul>
  </li>
</ul>
